.bordo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    
    display: block;
    
    width: 100%;
    height: 40%;
    overflow-y: hidden;
    
    z-index: 0;
    
}

#italian
{
        position: absolute;
        left: 92%;
        top: 30px;
        width: 6%;
        z-index: 1;
        background: transparent;
        border: none !important;
}

#english
{
    position: absolute;
    left: 86%;
    top: 30px;
    z-index: 1;
    width: 6%;
    background: transparent;
    border: none !important;
}

.ButtonIMG
{
    width: 100%;
    height: auto;
}